header {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
}

.row-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
  column-gap: 10%;
  padding-left: 3%;
  padding-right: 6%;
}
.aa {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.bilder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
}
